bitsandbytes
pubchempy
rdkit
chembl_webresource_client
rcsb-api
deepchem
dockstring
openbabel-wheel
gliner[tokenizers]
sentence-transformers
gradio
torch
matplotlib
pillow 
gradio-client
transformers

dockstring
openbabel-wheel
numpy
elevenlabs
lightgbm
tf-keras
tensorflow
accelerate
scholarly
httpx==0.27.2